@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}

header {
  position: fixed;
  top: 250px;
  left: 550px;
}

.selectors {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 400px;
  left: 660px;
  font-size: 20px;
  text-align: center;
}

#practice-button,
#level1-button {
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 20px;
  margin: 10px;
  background-color: lightgrey;
  cursor: pointer;
}

#practice-button:hover,
#level1-button:hover {
  background-color: darkgrey;
}

aside {
  position: fixed;
  text-align: center;
  top: 310px;
  left: 500px;
}

canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.hidden {
  display: none;
}
